html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

@media only screen and (min-width : 700px) {
  .content {
    margin: 36px auto 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px 8px 0 #777;
  }
}

.graph {
  position: relative;
}

.graph__canvas {
  background: #fff;
  width: 100%;
  height: 300px;
  vertical-align: top;
}

.graph__download {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 8px;
  z-index: 10;
}

.graph__download-button {
  border: none;
  padding: 4px 8px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 0 #888;
  background-color: #3d3;
  color: white;
}

.graph__download-button:active {
  transform: translateY(1px) scale(0.99, 0.99);
  box-shadow: none;
}

.graph__download-button:disabled {
  background-color: grey;
  color: #ddd;
}

.test-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-style: italic;
  background-color: #444;
  color: lightblue;
  font-size: 12px;
}

.header {
  position: relative;
  color: white;
  background-color: #444;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px;
}

@media only screen and (min-width : 700px) {
  .header {
    grid-template-columns: 200px 2fr;
    grid-template-rows: 200px;
  }
}

.header__title {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 32px;
  margin: 0;
  word-wrap: normal;
}

.header__details {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ccc;
  padding: 16px;
}

.header__details h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 2px;
}

.header__details ol {
  padding-left: 16px;
  margin: 4px 0 0;
}

.header__details li {
  margin: 4px 0;
}

.controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #aaa;
}

.controls__start-stop {
  width: 90px;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 18px;
  color: white;
  background-color: #3d3;
  box-shadow: 2px 2px 5px 0 #777;
}

.controls__start-stop:active {
  transform: translateY(1px) scale(0.99, 0.99);
  box-shadow: none;
}

.controls__start-stop--red {
  background-color: red;
}

.controls__register {
  width: 90px;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 18px;
  color: white;
  background-color: #fa3;
  box-shadow: 2px 2px 5px 0 #777;
}

.controls__register:active {
  transform: translateY(1px) scale(0.99, 0.99);
  box-shadow: none;
}

.controls__register:disabled {
  background-color: grey;
  color: #ddd;
}

.controls__confirmator {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  background: #444;
  transition: all 100ms;
  box-shadow: 2px 2px 5px 0 #777;
}

.controls__confirmator--red {
  background: #f33;
  box-shadow: 0 0 20px 0 #f00;
}

.controls__confirmator--green {
  background: lightgreen;
  box-shadow: 0 0 20px 0 #0f0;
}

.footer {
  max-width: 700px;
  padding: 0 16px;
  margin: 36px auto;
  color: #444;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 16px;
  box-sizing: border-box;
  color: #777;
  background: #444;
  height: 80px;
}
